<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/bundle.js"></script>
  </head>
  <body ng-app='someApp'>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container" ng-controller='navctrl'>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><img src="" alt="" class='thumb'></li>
            <li><a ui-sref="home">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-if='!isAuthenticated()'><a ui-sref='register'>Register</a></li>
            <li ng-if='!isAuthenticated()'><a ui-sref='login'>Login</a></li>
            <li ng-if='isAuthenticated()' ng-click='logout()'><a ui-sref='home'>Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ui-view></ui-view>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  </body>
</html>
